@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 4%;
    --foreground: 0 0% 100%;
    
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-slate-900 text-slate-50 font-sans antialiased;
    background: radial-gradient(circle at 50% -20%, #1e1b4b, #0f172a 60%);
    min-height: 100vh;
  }
}
